/**********************tag selectors**************/
h1{
  color: red;
  font-size: 100px;
}
img:hover {
  background-color: gold;
  }


/**********************class selectors*************/
.bacon{
  background-color: green;
}
.broccoli{
  background-color: red;
}
/**********************id selectors*************/
#headings{
  color: blue;
}
.circular{
  border-radius: 100%;
}
